<header class="p-2">
  <div class="max-w-screen-xl mx-auto flex items-center gap-2">
    <i data-lucide="file-diff" class="h-6 w-6 text-green-500"></i>
    <span class="text-lg font-semibold">diff thing</span>
  </div>
</header>
<main class="px-4 py-4 sm:px-6 lg:px-8">
  <div class="mx-auto max-w-screen-lg">
    <.flash_group flash={@flash} />
    <%= @inner_content %>
  </div>
</main>
